---
import EssayLayout from "../../layouts/EssayLayout.astro"
---

<EssayLayout title="Internship Reflections: Bifrost" date="26 September 2024">
	<h1 class="text-xl mt-1">The Bifrost Experience</h1>
	<p>
		Learnt a lot here. Both in terms of tech and in terms of people skills.	
	</p>
</EssayLayout>
