---
import EssayLayout from "../../layouts/EssayLayout.astro";
---
<EssayLayout title="First Commit: The Ethos Behind The Site" date="18 September 2024">
	<p>
		A tendency to attempt to control how one is perceived can be unhealthy.
	</p>
	<p>
		I think discomfort can be a good signal for development. Sharing content I create
		has always made me uncomfortable, though I am not privy to the underlying pyschological
		explanation as to why that is the case.
	</p>
	<p>
		Regardless, I think embracing discomfort, especially in this domain of being perceived
		is a good exercise, especially when it comes to areas needed in advancing one's career
		that I find myself to be lacking in.
	</p>
	<p>
		Which is why the idea of a Digital Garden outlined in <a href="https://maggieappleton.com/garden-history">
		Maggie Appleton's article</a> resonates a lot with me. Specifically the idea of having a digital space that's
		imperfect by design. The traditional format of a blog site with meticulously crafted articles in reverse
		chronological order is fine, but I feel I would benefit a lot from learning to be comfortable having 
		unfiltered and unpolished content available for anyone to read.
	</p>
</EssayLayout>
