---
import Layout from "../../layouts/Layout.astro";
const posts = Object.values(import.meta.glob("./**/posts/*.md", { eager: true }));
const sortedPosts = posts.sort((a: any, b: any) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
---

<Layout title="Neville's Website">
    <div class="flex flex-grow justify-center items-center">
        <div
            class="flex flex-col w-[85vw] md:w-[55vw] h-fit-content min-h-[90vh] mt-[10vh]"
        >
            <h1 class="text-3xl mb-3">Blog</h1>
            <p>Short essays on a variety of topics.</p>
            <ul class="flex flex-col mt-2 gap-1">
                {
                    posts.map((post: any) => (
                        <li class="text-xl">
                            <a href={post.url}>{post.frontmatter.title}</a>
                        </li>
                    ))
                }
            </ul>
            </div>
        </div>
    </div>
</Layout>
