---
import EssayLayout from "../../layouts/EssayLayout.astro";
---
<EssayLayout title="Intermediate Lifting Guide: Programming Mesocycles" date="24 October 2024">
	<p>
		For the past couple of years or so I've been pretty stagnant in my weight training, which I think has led to a plateau in gains. My strength isn't what it used to be and I've been hovering at the same weight, ~90-95 kilograms since the start of University without much muscle gain.
	</p>
	<p>
		My goal for the next couple of months is to try and gain muscle while training jiu jitsu simultaneously. I lift weights 4 times a week and train jitz an average of 3 times a week. Jiu jitsu definitely gets in the way of recovery no doubt so I definitely need to look into how to manage fatigue as I attempt to achieve my goal of putting on muscle. 
	</p>
	<p>
		My hypertrophy goals for the next 6 months or so are as follows (in decreasing order of focus):	
	</p>
	<ol>
		<li>1. Lats</li>
		<li>2. Side Delts</li>
		<li>3. Arms</li>
	</ol>
	<p>
		
	</p>	
	<div>
		<img src="/images/dr_mike.jpg"/>	
	</div>
	<p>
		WIP. Come back tomorrow.
	</p>
</EssayLayout>

