---
import EssayLayout from "../../layouts/EssayLayout.astro";
---

<EssayLayout title="Book Review: Why Nations Fail" date="18 December 2024">
    <h1 class="text-xl mt-1">Preface</h1>
    <p>
        I started reading this book due to an interest in Javier Milei's
        policies in Argentina. That and some interesting discussions about
        austerity on Reddit. Prehaps because Reddit is predominantly
        left-leaning, the general sentiment there surrounding Milei is largely
        negative, which arouses within me an interest in determining the
        effectiveness of his policies even further.
    </p>
    <p>
        Why Nations Fail seems to go into the idea of institutions, which is
        something I am also interested in. The United States is a country build
        on checks and balances, where political power is distributed across
        institutions, and where administrative inefficiency is a feature, not a
        bug.
    </p>
    <p>
        Contrast this with a China or even Singapore and you get almost the
        polar opposite: centralized political power wielded pragmatically
        yielding huge economic growth.
    </p>
    <p>
        Critics of the US might point and proclaim the superiority of autocracy,
        but I would argue that these countries succeed in spite of being
        autocratic (or more autocratic than usual don't POFMA me).
    </p>
    <p>
        Preface: The suggestion is that countries fail because of incompetent
        or corrupt leadership, but that isn't particularly insightful or
        interesting to me.
    </p>
</EssayLayout>
