---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Neville's Website :)">
    <!-- <Header /> -->
    <div class="bg-black text-white flex-grow flex flex-col m-5 gap-3">
		<h1 class="text-2xl">Auth Microservice</h1>
		<p>
			Challenges specific to running authentication with a microservice archiecture include:
		</p>
		<ul>
			<li>
				1. Availability: Authentication is a critical service and consequentially should be highly available and fault-tolerant.
			</li>
			<li>
				2. Network Latency: Additional calls could cause latency. Performance should be maintained through efficient service design and/or caching.
			</li>
		</ul>
		<p>
			Before starting this project I have a few conceptual questions.
		</p>
		<p>
			Microservice Authentication Approaches
		</p>
		<ul>
			<li>
				1. Edge-Level Authorization: 
			</li>
			<li>
				2. Network Latency: Additional calls could cause latency. Performance should be maintained through efficient service design and/or caching.
			</li>
		</ul>
    </div>
</Layout>
