---
import EssayLayout from "../layouts/EssayLayout.astro";
---
<EssayLayout title="First Commit: The Ethos Behind The Site" date="18 September 2024">
	<h1 class="text-xl mt-1">Chasing Perfectionism</h1>
	<p>
		I have a propensity for chasing perfection. A trend that spans multiple aspects of my life,
		some more than others.
	</p>
	<p>
		I have a tendency of getting it perfect before putting it out into the world.
		Perhaps because I perceive my work as an extension of my self, which I am afraid to have judged. This
		habit of attempting to curate/control an image of myself is a subconscious habit I want to shed.
	</p>
	<p>
		Which is why I feel like the idea of a Digital Garden outlined in <a href="https://maggieappleton.com/garden-history">
		Maggie Appleton's article</a> resonates a lot with me. Specifically the idea of having a digital space that's
		imperfect by design. The traditional format of a blog site with meticulously crafted articles in reverse
		chronological order is fine, but I feel I would benefit a lot from learning to be comfortable having 
		unfinished, rough, unpolished content available for anyone to read.
	</p>
</EssayLayout>
