---
import Layout from "../layouts/Layout.astro";
---

<Layout title="First Commit">
	<div class="flex flex-grow justify-center items-center">
		<div class="flex flex-col w-[55vw] h-[90vh] mt-[10vh]">
				<h1 class="text-3xl mb-3">First Commit: The Ethos Behind The Site</h1>
				<p>
					18 September 2024
				</p>
				<div class="flex flex-col w-3/4 gap-2 mt-2">
					<!-- <h1 class="text-xl mt-1">Will Code For Change</h1>
					<p>
						I am writing this article at something of a turning point in my life. I graduated
						approximately 4 months ago into a pretty shitty tech job market and am struggling
						to find a full time Software Engineering job.
					</p>
					<p>
						I think it is easy to be stressed out, especially in a country that holds material
						in such high regard as Singapore. Fortunately, thanks to a combination of factors
						(being born into a middle-income family), (not studying in NUS business), (being
						single and no BTO down payment), I am thankfully not beholden to such concerns over
						pursuing material wealth.
					</p>
					<p>
						I am, however, beholden to a feeling of inferiority over my performance when it comes to the
						current state of my career, or pre-career career(?) idk. Prior to university I found myself, as I'm
						sure many fellow Singaporeans find themselves, constantly in search of academic validation. 
						For reasons I cannot yet fully explain I found that this fire seemed to fizzle out by the time University
						rolled around (I believe due to the stark difference in Singapore's uni and pre-uni curriculum, 
						but that's a story for another day). 
					</p>  -->
					<h1 class="text-xl mt-1">Chasing Perfectionism</h1>
					<p>
						I have a propensity for chasing perfection. A trend that spans multiple aspects of my life,
						some more than others.
					</p>
					<p>
						I have a tendency to get it perfect before putting it out into the world.
						Perhaps because I perceive my work as an extension of my self, which I am afraid to have judged. This
						habit of attempting to curate/control an image of myself is a subconscious habit I want to shed.
					</p>
					<p>
						Which is why I feel like the idea of a Digital Garden outlined in <a href="https://maggieappleton.com/garden-history">
						Maggie Appleton's article</a> resonates a lot with me. Specifically the idea of having a digital space that's
						imperfect by design. The traditional format of a blog site with meticulously crafted articles in reverse
						chronological order is fine, but I feel I would benefit a lot from learning to be comfortable having 
						unfinished, rough, unpolished content available for anyone to read.
					</p>
				</div>
		</div>
	</div>
</Layout>
