---
import EssayLayout from "../layouts/EssayLayout.astro";
---
<EssayLayout title="Premature Abstraction: Rule Of Three" date="19 September 2024">
	<p class="italic">
		Abstraction: Moving repeated code into a function, method, or class
		that can be reused across a codebase.
	</p>
	<p>
		As a newbie writing software (often from scratch), I often find myself drawn toward
		abstracting code the moment the opportunity presents itself. However, I realize that the
		costs of premature abstraction (extra overhead following code trails into a new function)
		outweigh the little benefit (lesser lines of code).
	</p>
	<p>
		I've found that a helpful general heuristic to avoid this problem is the rule of three:
	</p>
	<p class="italic">
		&nbsp&nbspIf a piece of code is copied more than twice, it needs to be abstracted out.
	</p>
</EssayLayout>
