---
import EssayLayout from "../layouts/EssayLayout.astro";
---
<EssayLayout title="Intermediate Lifting Guide: Programming Mesocycles" date="15 October 2024">
	<div>
		<img src="images/dr_mike.jpg"/>	
	</div>
	<p>
		WIP. Come back tomorrow.
	</p>
</EssayLayout>

