---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Neville's Website :)">
    <!-- <Header /> -->
    <div class="flex-grow flex flex-col m-5 gap-3">
		<h1 class="text-2xl">Projects</h1>
		<p>
			Backend software engineering projects. Pursued based on my interest.
		</p>
		<!-- <a href="/auth-microservice" class="hover:underline">Auth Microservice</a> -->
	</div>

</Layout>
