---
import Layout from "../layouts/Layout.astro";
interface Props {
	title: string;
	date: string;
}
const { title, date } = Astro.props;
---

<Layout title="Neville's Website">
	<div class="flex flex-grow justify-center items-center">
		<div class="flex flex-col w-[85vw] md:w-[55vw] h-[90vh] mt-[10vh]">
			<h1 class="text-3xl mb-3">{title}</h1>
			<p>
				{date}	
			</p>
			<div class="flex flex-col md:w-3/4 gap-2 mt-2">
				<slot/>	
			</div>
		</div>
	</div>

</Layout>