---
interface Props {
	title: string;
}
import { Analytics } from '@vercel/analytics/react';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
	</head>
	<body>
		<main class="flex flex-col text-black h-screen">
			<slot />
			<Analytics />
		</main>
	</body>
</html>

<style is:global>
	body {
		background: transparent;
	}
	a:hover {
		text-decoration: underline;	
	}
</style>
